html {
    height: 100%;
    width: 100%;
    background-color:rgb(103, 103, 103);
}

#categories{
    background-color: rgb(251, 200, 90);
    font-family: cursive;
}

#mainpage{
    text-align: center;
    color: white;
    font-family: cursive;
}


